#singlePage {
  overflow: hidden;
}
.singlePageContainer {
  /* transition: 1s ease-in-out; */
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.singleBg {
  filter: contrast(30%) blur(2px);
  background-color: #dedede;
}
.singlePageContainer img {
  width: 280px;
  height: 280px;
  border-radius: 50%;
}
.singlePageContainer h1 {
  margin-top: 30px;
  color: #00302e;
}
.singlePageContainer p {
  text-align: center;
  margin-top: 20px;
  font-weight: 300;
  color: rgb(145, 145, 145);
  width: 70vw;
}
.singlePageContainer b {
  margin-top: 20px;
  font-size: 30px;
}
.singlePageContainer span {
  color: #06e775;
}
.singlePrice {
  padding-bottom: 100px;

  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
}

.incdec {
  display: flex;
  align-items: center;
  gap: 20px;
}
.incdec button {
  cursor: pointer;
  height: 60px;
  width: 48px;
  outline: none;
  border: none;
  background-color: #f3c294;
  font-size: 30px;
}
.singleCartButton {
  width: 144px;
  height: 60px;
  background-color: #00302e;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
}
.backButtonLink {
  height: 40px;
  width: 200px;
  position: absolute;
  top: 20px;
  left: 0px;
}
.backButton {
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  font-size: 50px;
  height: 100%;
  width: 100%;
}
.cartBtn{
  position: absolute;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 40px;
  top: 40px;
  right: 100px;
}
.cartIcon{
  color: rgb(85, 85, 85);
}
.cartIconValue{
  position: relative;
  top: 17px;
  left: 22px;
  width: 20px;
  height: 20px;
  font-size: 15px;
  padding: 1%;
  border-radius: 50%;
  color: white;
  background-color: #FF2400;
}
@media screen and (max-width: 500px) {
  .singlePageContainer {
    padding-top: 100px;
  }
  .backButtonLink {
    top: 10px;
    left: -50px;
  }
  .singlePrice {
    gap: 20px;
  }
  .cartBtn{
    font-size: 30px;
    top: 30px;
    right: 40px;
  }
}
