/* left side  */
.productsContainer {
  display: flex;
}
.leftProductContainer {
  padding: 100px 50px;
  width: 320px;
  background-color: #fbfbfb;
  height: 100vh;
  transition: 0.8s ease-in-out;
}
.leftProductContainer a{
    color: black;
    text-decoration: none;
}
.productLeftActive {
  transition: 0.8s ease-in-out;
  transform: translateX(-272px);
}
.rightProductActive {
  transition: 0.8s ease-in-out;
  transform: translateX(-140px);
}
.sideArrow {
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  text-align: end;
  color: #00eddf;
  width: 100px;
  height: 50px;
}

.sideArrowIcon {
  font-size: 50px;
}
.liliesSvg {
  width: 270px;
 
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.dashLogo {
  width: 60px;
  height: 60px;
}
.productIcon {
  margin-right: 10px;
  color: #bcbcbc;
}
.productIcon.active {
  color: black;
}
.dashboardItems {
  
  width: 250px;
  margin-top: 100px;
}
.dashboardItems h2 {
  cursor: pointer;
  color: #bcbcbc;
  font-weight: 200;
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.dashboardItems .active {
  color: black;
  font-weight: 400;
}
.hsp {
  color: black;
  background-color: aqua;
  padding: 2px 2px 8px 8px;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  font-weight: 400;
  align-self: flex-end;
  margin-left: 50px;
}
.hspFirst {
  margin-left: 80px;
}
/* right side  */
.rightProductContainer {
    transition: 0.8s ease-in-out;
    margin: 80px;
}
.productTitle {
  text-align: center;
}
.productTitle h1 {
  font-weight: 500;
}
.productTitle p {
  color: gray;
}
.productItems {
  margin-top: 50px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.productCategoryButtons{
  padding: 3%;
}
.categoryBtn{
  cursor: pointer;
  margin: 0 20px;
  width: 80px;
  height: 35px;
  background: none;
  outline: none;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 500;
  color: #06e775;
  border: 1px solid rgb(190, 190, 190);
  transition: .2s ease-in-out;

}
.categoryBtn:hover{
  transition: .2s ease-in-out;
  transform: scale(1.2);
}
.productItem {
  width: 240px;
  height: 307px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border-radius: 5px;
  border: 1px solid rgb(201, 201, 201);
}
.productDes {
  text-align: center;
  width: 172px;
  font-size: 12px;
  color: gray;
}
.productImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.priceAndButton {
  justify-content: space-between;
  width: 172px;
  display: flex;
}
.addToCart {
  background: none;
  border-radius: 5px;
  padding: 2px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 15px;
  color: #06e775;
  font-weight: 600;
  transition: .2s ease-in-out;

}
.addToCart:hover{
  transition: .2s ease-in-out;
  background-color: #f0f0f0;
}

@media screen and (max-width: 500px) {
  .leftProductContainer {
    padding: 20px 10px;
    width: 170px;
  }
  .liliesSvg {
    width: 170px;
    gap: 5px;
  }
  .dashLogo {
    display: none;
  }
  .productIcon {
    margin-right: 5px;
  }
  .dashboardItems {
    margin-top: 40px;
  }
  .dashboardItems h2 {
    font-size: 15px;
  }
  .hsp {
    padding: 0 0 3px 4px;
    border-radius: 2px;
    width: 20px;
    height: 20px;
    font-size: 15px;
    margin-left: 20px;
  }
  .hspFirst {
    margin-left: 40px;
  }

  .productTitle h1 {
    font-size: 15px;
    font-weight: 500;
  }
  .productItem {
    width: 180px;
    height: 280px;
    gap: 10px;
    transition: 0.8s ease-in-out;

  }
  .productItem.side{
    transition: 0.8s ease-in-out;

    width: 250px;
  }
  .productDes {
    width: 140px;
    font-size: 10px;
    color: gray;
  }
  .productImg {
    width: 130px;
    height: 130px;
  }
  .priceAndButton {
    justify-content: space-between;
    width: 140px;
    display: flex;
  }
  .productItems{
    justify-content: center;
  }
  .productItems h3{
    text-align: center;
    width: 90%;
  }
  .productCategoryButtons{


    padding: 5%;
  }
  .categoryBtn{


    margin: 5px 12px;
  }
  .productLeftActive {
   
    transform: translateX(-139px);
  }
  .rightProductContainer {
    
    margin: 50px 0;
  }
  .rightProductActive {
    min-width: 300px;
    transform: translateX(-120px);
  }
}
